<a name="Making_it_Bearable_sub" class="anchor"></a>
<div class="section steps   sticky  steps_first">
  <h3>
    <div class="altblock">Part <span>{{wei.partNumber}}</span>
    </div>
    <a title="Edit section: Making it Bearable" class="editsection" onclick="gatTrack(gatUser,\'Edit\',\'Edit_section\');" tabindex="-1" aria-label="Link to edit section Making it Bearable">Edit</a>
    <span class="mw-headline" id="Making_it_Bearable">{{wei.subtitle}}</span>
  </h3>
  <div id="steps_1" class="section_text">
    <ol class="steps_list_2">
      {% for step in wei.steps %}
        <li class="hasimage">
          <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Be-the-Only-Single-One-in-the-Group-Step-1-Version-2.jpg" class="image lightbox" data-href="/Image:Be-the-Only-Single-One-in-the-Group-Step-1-Version-2.jpg?ajax=true&amp;aid=42328">
            <div class="content-spacer">
            <img alt="Image titled Be the Only Single One in the Group Step 1" width="728" height="514"  id="img_1f29b8cf30" data-src={{step.img}}>
          </div>
        <img alt="Image titled Be the Only Single One in the Group Step 1" src={{step.img}} width="728" height="514" >
        </a></div>
          <div class="step_num" aria-label="Step 1">{{step.stepNumber}}</div>
          <a name="step_1_1" class="stepanchor"></a><div class="step">
            <b class="whb">{{step.title}}</b>{{step.content}}

          </div>
          <div class="clearall"></div>
        </li>
      {% endfor %}
    </ol>
    <div class="clearall"></div>
  </div>
</div>
